/* 一般 */
.main {
    background-color: aqua;
}

.clear_box {
    clear: both;
}

.icon{
    width: 30px;
    height: 30px;
    float: right;
}

/* ヘッダ */
.header {
    height: auto;
    width: 100%;
    position: fixed;
    opacity: 90%;
}

.siteName {
    display: inline-block;
    width: fit-content;
}

.navi {
    float: right;
}

/* コンテンツ */
.content {
    padding: 78px 10px 10px 10px;
}

.workBlock {
    width:200px;
    height: 200px;
    margin: 5px;
    padding: 20px;
    float: left
}